In [1]:
#Loading the data in jupyter notebook
import numpy as np
import pandas as pd
data=pd.read_csv("Open Airbnb Data.csv")

In [3]:
#Changing the dataheads to snake_case
data.columns=data.columns.str.replace(" ","_")
print(data.columns)

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'country', 'country_code', 'instant_bookable', 'cancellation_policy',
       'room_type', 'Construction_year', 'price', 'service_fee',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'review_rate_number',
       'calculated_host_listings_count', 'availability_365', 'house_rules',
       'license'],
      dtype='object')

In [4]:

#Getting general informatin about the dataset
data.head()

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,latitude,longitude,country,...,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,07/05/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

From the sample dataset shown above(the first five rows),it is clear that there are some missing values.

In [5]:
#getting general summary statistics of the dataset
data.describe()

,id,host_id,latitude,longitude,Construction_year,minimum_nights,number_of_reviews,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,license
count,5.093000e+03,5.093000e+03,5085.000000,5085.000000,4958.000000,5009.000000,5085.00000,4629.000000,5000.000000,5070.000000,4945.000000,0.0
mean,2.407492e+06,4.873079e+10,40.728916,-73.960927,2012.367689,10.756838,56.79646,0.898289,3.002400,2.501578,208.590698,NaN
std,8.120836e+05,2.849726e+10,0.051496,0.035624,5.782151,59.067771,76.66971,1.087883,1.419154,6.263080,125.781793,NaN
min,1.001254e+06,1.316021e+08,40.508680,-74.239860,2003.000000,-12.000000,0.00000,0.010000,1.000000,1.000000,-10.000000,NaN
25%,1.704414e+06,2.395762e+10,40.688640,-73.984550,2007.000000,2.000000,5.00000,0.150000,2.000000,1.000000,99.000000,NaN
50%,2.407492e+06,4.810433e+10,40.722900,-73.960630,2012.000000,3.000000,23.00000,0.460000,3.000000,1.000000,209.000000,NaN
75%,3.110570e+06,7.351923e+10,40.762920,-73.944990,2017.000000,6.000000,78.00000,1.260000,4.000000,2.000000,318.000000,NaN
max,3.813648e+06,9.872629e+10,40.908040,-73.733230,2022.000000,3455.000000,607.00000,10.000000,5.000000,52.000000,426.000000,NaN

In [6]:
#Checking for number of columns
no_of_rows=data.shape[0]
no_of_columns=data.shape[1]
print(no_of_rows)
print(no_of_columns)

5093
26

this dataset has 5093 rows and 26 columns

In [7]:
#Checking the data types of our columns
#Knowing the datatype helps with detecting 
data.dtypes

id                                  int64
name                               object
host_id                             int64
host_identity_verified             object
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
country                            object
country_code                       object
instant_bookable                   object
cancellation_policy                object
room_type                          object
Construction_year                 float64
price                              object
service_fee                        object
minimum_nights                    float64
number_of_reviews                 float64
last_review                        object
reviews_per_month                 float64
review_rate_number                float64
calculated_host_listings_count    float64
availability_365                  float64
house_rules                        object
license                           float64
dtype: object

This data types has three data types;integers(whole numbers),float(numeric values with decimal numbers) and object data types.

In [8]:
#DATA CLEANING 
#HANDLING MISSING VALUES
#general view of how many missing values there is per column 
missing_values_count=data.isnull().sum()
missing_values_count[0:26]

id                                   0
name                                58
host_id                              0
host_identity_verified              73
host_name                           20
neighbourhood_group                 27
neighbourhood                       16
latitude                             8
longitude                            8
country                             50
country_code                        79
instant_bookable                    79
cancellation_policy                 50
room_type                            0
Construction_year                  135
price                               11
service_fee                         15
minimum_nights                      84
number_of_reviews                    8
last_review                        478
reviews_per_month                  464
review_rate_number                  93
calculated_host_listings_count      23
availability_365                   148
house_rules                       1615
license                           5093
dtype: int64

almost all the columns have missing values apart from the id,room type and host Id columns.

In [9]:
#DROPPING ROWS WITH MISSING VALUES USING THE dropna() function
data.dropna(subset=["latitude","longitude","number_of_reviews","name","host_identity_verified","host_name","name",
                    "Construction_year"],inplace=True)

Dropping the columns with missing values made sense because the values were missing probably because they were not recorded and not because they do not exist and it makes sense to drop them rather than guessing what they might have been based on the other values in that column and row. You cannot guess the hosts' names and the names of the airbnb hence dropping the rows with this missing information.

In [11]:
#DROPPING ROWS WITH MISSING NUMERIC VALUES
data.dropna(subset=["price","service_fee",],inplace=True)
data.dropna(subset=["last_review","reviews_per_month"],inplace=True)

it is hard to predict or guess the dates(in the last review column) date hence dropping the rows with the missing values.

In [14]:

data.dropna(subset=["minimum_nights"],inplace=True)
data.dropna(subset=["availability_365"],inplace=True)
data.dropna(subset=["Construction_year"],inplace=True)

In [16]:
#DATA IMPUTATION USING THE fillna() function
#filling in rows with missing values in some columns
data["country"].fillna("United States",inplace=True)
data["country_code"].fillna("US",inplace=True)

Since this is New York's city data,the country must be the United States and the country code must be US hence replacing the missing values with United states and US respectively .
The assumption being that the missing values were just not recorded.

In [20]:
data["neighbourhood_group"].fillna("Manhattan",inplace=True)
data["neighbourhood"].fillna("Upper West Side",inplace=True)
data["instant_bookable"].fillna("TRUE",inplace=True)
data["cancellation_policy"].fillna("moderate",inplace=True)

In [22]:
#DATA IMPUTATION USING THE MEAN FUNCTION
data["review_rate_number"].fillna(data["review_rate_number"].mean(),inplace=True)
data["calculated_host_listings_count"].fillna(data["calculated_host_listings_count"].mean(),inplace=True)

In [24]:
#Filling in the missing values in the house rules and license column
data["house_rules"].fillna("none",inplace=True)
data["license"].fillna("none",inplace=True)

The house rules and licence columns have a lot of missing values.
In this case, though, the data is missing because,probably the airbnb owners had no written house rules for their airbnbs
And if there was no house rules then it doesn't make sense to guess what the rules and licence were.
 For this columns, it would make more sense to add a third value like "none" and use that to replace the NA's.
 none represents no rules or licence.

In [25]:
#checking if the rows with missing values have been filled and dropped
missing_values_count=data.isnull().sum()
missing_values_count[0:26]

id                                0
name                              0
host_id                           0
host_identity_verified            0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
country                           0
country_code                      0
instant_bookable                  0
cancellation_policy               0
room_type                         0
Construction_year                 0
price                             0
service_fee                       0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
review_rate_number                0
calculated_host_listings_count    0
availability_365                  0
house_rules                       0
license                           0
dtype: int64

In [16]:

excel_file_path=r"C:\\Users\\USER\\Downloads\\Airbnb_data.xlsx"
data.to_excel(excel_file_path, index=False)

all the missing values have been filled and dropped and this dataset has no missing values.

In [17]:
#checking the total remaining rows after handling missing values
print(data)

           id                                              name      host_id  \
0     1001254                Clean & quiet apt home by the park  80014485718
1     1002102                             Skylit Midtown Castle  52335172823
4     1003689  Entire Apt: Spacious Studio/Loft by central park  92037596077
5     1004098         Large Cozy 1 BR Apartment In Midtown East  45498551794
7     1005202                                   BlissArtsSpace!  90821839709
...       ...                                               ...          ...
5088  3811438            Great Room for International Students!  78573634300
5089  3811991                                    Sunny/Cozy 1BD  12514109792
5090  3812543               Home Away from Home-Room in Midtown   7545062881
5091  3813095                Amazing LOFT in Prime Williamsburg  34705707902
5092  3813648                      Private Room in Williamsburg  16798739375

     host_identity_verified host_name neighbourhood_group       neighbourhood  \
0               unconfirmed  Madaline            Brooklyn          Kensington
1                  verified     Jenna           Manhattan             Midtown
4                  verified    Lyndon           Manhattan         East Harlem
5                  verified  Michelle           Manhattan         Murray Hill
7               unconfirmed      Emma            Brooklyn  Bedford-Stuyvesant
...                     ...       ...                 ...                 ...
5088            unconfirmed    Sharon               Bronx           Wakefield
5089            unconfirmed     Frank            Brooklyn       Crown Heights
5090               verified     Marco           Manhattan      Hell's Kitchen
5091               verified    Maggie            Brooklyn          Greenpoint
5092               verified   Caitlin            Brooklyn        Williamsburg

      latitude  longitude        country  ... service_fee minimum_nights  \
0     40.64749  -73.97237  United States  ...       $193            10.0
1     40.75362  -73.98377  United States  ...        $28            30.0
4     40.79851  -73.94399  United States  ...        $41            10.0
5     40.74767  -73.97500  United States  ...       $115             3.0
7     40.68688  -73.95596  United States  ...       $212            45.0
...        ...        ...            ...  ...         ...            ...
5088  40.88855  -73.85127  United States  ...       $222             7.0
5089  40.67370  -73.95335  United States  ...       $172            30.0
5090  40.76625  -73.99387  United States  ...       $160             3.0
5091  40.71952  -73.94844  United States  ...        $50             5.0
5092  40.71202  -73.96665  United States  ...        $76             5.0

     number_of_reviews  last_review  reviews_per_month review_rate_number  \
0                  9.0   10/19/2021               0.21                4.0
1                 45.0    5/21/2022               0.38                4.0
4                  9.0    5/21/2023               0.72                3.0
5                 74.0  last review  reviews per month                3.0
7                 49.0    5/21/2024               1.06                5.0
...                ...          ...                ...                ...
5088              12.0    9/15/2018               0.55                3.0
5089              99.0   01/06/2019               1.67                5.0
5090             168.0    6/23/2019               2.88                5.0
5091               1.0    5/14/2016               0.03                5.0
5092               2.0   01/04/2015               0.03                2.0

     calculated_host_listings_count  availability_365  \
0                               6.0             286.0
1                               2.0             228.0
4                               1.0             289.0
5                               1.0             374.0
7                               1.0             219.0
...                             ...               ...
5088                            1.0             342.0
5089                            3.0             219.0
5090                            2.0             356.0
5091                            2.0             185.0
5092                            1.0              44.0

                                            house_rules license
0     Clean up and treat the home the way you'd like...    none
1     Pet friendly but please confirm with me if the...    none
4     Please no smoking in the house, porch or on th...    none
5                     No smoking, please, and no drugs.    none
7     House Guidelines for our BnB We are delighted ...    none
...                                                 ...     ...
5088  Absolutely no smoking!  It is a ground level a...    none
5089                                               none    none
5090  - Check-in is after 12PM (noon) - No smoking! ...    none
5091  No parties or pets.  Please be courteous and k...    none
5092                                               none    none

[4243 rows x 26 columns]

The remaining rows are 4243 after handling missing values.