In [3]:
#Loading the data in jupyter notebook
import numpy as np
import pandas as pd
data=pd.read_csv("Airbnb_data.csv")

In [6]:
#Getting general informatin about the dataset
data.head()
data.tail()

,id,name,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,latitude,longitude,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
5089,3811991,Sunny/Cozy 1BD,12514109792,unconfirmed,Frank,Brooklyn,Crown Heights,40.67370,-73.95335,United States,...,$172,30.0,99.0,01/06/2019,1.67,5.0,3.0,219.0,NaN,NaN
5090,3812543,Home Away from Home-Room in Midtown,7545062881,verified,Marco,Manhattan,Hell's Kitchen,40.76625,-73.99387,United States,...,$160,3.0,168.0,6/23/2019,2.88,5.0,2.0,356.0,- Check-in is after 12PM (noon) - No smoking! ...,NaN
5091,3813095,Amazing LOFT in Prime Williamsburg,34705707902,verified,Maggie,Brooklyn,Greenpoint,40.71952,-73.94844,United States,...,$50,5.0,1.0,5/14/2016,0.03,5.0,2.0,185.0,No parties or pets. Please be courteous and k...,NaN
5092,3813648,Private Room in Williamsburg,16798739375,verified,Caitlin,Brooklyn,Williamsburg,40.71202,-73.96665,United States,...,$76,5.0,2.0,01/04/2015,0.03,2.0,1.0,44.0,NaN,NaN
5093,3814200,Beautiful 1 BR - Downtown Union Square,81240766518,verified,Heike,Manhattan,East Village,40.73312,-73.99097,United States,...,$51,62.0,0.0,NaN,NaN,2.0,1.0,348.0,NaN,NaN

In [7]:
#Checking for number of columns
no_of_rows=data.shape[0]
no_of_columns=data.shape[1]

print(no_of_rows)
print(no_of_columns)

5094
26

this dataset has 5096 rows and 26 columns

In [10]:
#Changing the dataheads to snake_case
data.columns=data.columns.str.replace(" ","_")
print(data.columns)

Index(['id', 'name', 'host_id', 'host_identity_verified', 'host_name',
       'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'country', 'country_code', 'instant_bookable', 'cancellation_policy',
       'room_type', 'construction_year', 'price', 'service_fee',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'review_rate_number',
       'calculated_host_listings_count', 'availability_365', 'house_rules',
       'license'],
      dtype='object')